body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#fffaf7;
}

header{
    background:#6b1f2a;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:10px;
}

.hero{
    background:#f6e2c6;
    text-align:center;
    padding:80px 20px;
}

.btn{
    display:inline-block;
    background:#6b1f2a;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

section{
    padding:50px 20px;
}

.category-grid,
.product-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
}

.category-card,
.product-card{
    background:white;
    border:1px solid #ddd;
    padding:20px;
    text-align:center;
    border-radius:10px;
}

.product-card img{
    width:100%;
    border-radius:10px;
}

button{
    background:#6b1f2a;
    color:white;
    border:none;
    padding:10px 20px;
    cursor:pointer;
}

.review{
    background:white;
    padding:20px;
    margin-bottom:15px;
    border-radius:10px;
}

footer{
    background:#6b1f2a;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){
    nav a{
        display:block;
        margin:10px 0;
    }

    .hero{
        padding:50px 20px;
    }
}